<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebSite2-20131130022315;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebSite2-20131130022315.mdf" />
    <add name="connectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=PhoneCards; Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="GameDBConnectionString" connectionString="Data Source=204.93.178.157;Initial Catalog=globalte_PhoneCards;Persist Security Info=True;User ID=globalte_phone;Password=GtPan5102" />
    <add name="ConnectionStringPublic" connectionString="Data Source=SQL5003.myWindowsHosting.com;Initial Catalog=DB_9C4DA8_pokemon;Persist Security Info=True;User ID=DB_9C4DA8_pokemon_admin;Password=mmn2015@" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="Index.php" />
        <add value="Default.aspx" />
        <add value="WebService.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>